<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="WEB-INF/conf/application.properties"/>
    <import resource="classpath:context/applicationContext-core.xml"/>
    <import resource="classpath:context/applicationContext-demoda.xml"/>
    <import resource="security.xml"/>

    <bean name="addToCartRequestValidator" class="com.es.phoneshop.web.validation.AddToCartRequestValidator">
    </bean>

    <bean name="colorEditor" class="com.es.phoneshop.web.controller.pages.admin.ColorEditor">
    </bean>

    <bean name="cartItemsUpdateRequestValidator"
          class="com.es.phoneshop.web.validation.CartItemsUpdateRequestValidator">
    </bean>

    <bean name="quickAddRequestValidator"
          class="com.es.phoneshop.web.validation.QuickAddRequestValidator">
    </bean>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

</beans>